/*
Text color black: #000;
Primary Color (dark green): #0E5F4A;
Secondary color (light green): #57ab88
Background color (cream): #c1c7c5;

Font
font-family:  'Readex Pro', sans serif;
Headlines: 'Readex Pro', sans serif; 800
Text bold: 'Readex Pro', sans serif; 600
Text regular: 'Readex Pro', sans serif; 400
Text thin: 'Readex Pro', sans serif; 100

 */

:root {
  --primary-color: #0e5f4a;
  --secondary-color: #57ab88;
  --background-color: #c1c7c5;
  --header-color: #fff;
  --footer-color: #fff;
  --link-color: #fff;
  --link-color-visited: #4d5254;
  --link-color-active: #4d5254;
  --primary-font: "Readex Pro", sans-serif;
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;
  --font-size-h1: 30px;
  --font-size-h1-small-screen: 22px;
  --font-size-h2: 22px;
  --font-size-h2-small-screen: 18px;
  --font-size-body: 16px;
  --font-size-body-small-screen: 12px;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--primary-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 20px;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semi-bold);
}

p {
  color: var(--primary-color);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-color-active);
}

.page-header {
  clear: both;
  display: flex;
  padding: 30px;
  background-color: var(--header-color);
}

.page-header__item {
  flex: 0 1 80px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Navigation animation  */

/* .navigation-list li a: before,
.navigation-list li a: after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.navigation-list li a: before {
  top: 0;
  transform: translateY(10px);
}

.navigation-list li a: after {
  bottom: 0;
  transform: translateY(-10px);
}

.navigation-list li a:hover: before,
.navigation-list li a:hover: after {
  opacity: 1;
  transform: translateY(0);
} */

/* end */

.profile__portrait {
  float: left;
  width: 150px;
  margin-right: 40px;
  border-radius: 50%;
  padding-top: 20px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* align text in the center */
.code-link {
  text-align: center;
}

.about {
  margin-left: 30px;
}

table,
th,
td {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  border: 1px solid;
  margin-bottom: 20px;
}

.contact {
  margin-left: 30px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--footer-color);
  margin: none;
}

#contact-form {
  grid-gap: 10px;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 100%;
  margin: 30px;
}

.grid__item {
  background-color: #e3e7e8;
  padding: 10px;
}

.grid-text {
  font-size: small;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  opacity: 1;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.berlin-illustration {
  max-width: 50%;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}